<div class="row">
  <div class="col s4"></div>
  <div class="col s4">
    <h4>Novo Serviço</h4>
    <%= render 'form', service: @service %>
    <%= link_to 'Voltar', services_path %>
  </div>
  <div class="col s4"></div>
</div>
