<div class="row">
  <div class="col s4"></div>
  <div class="col s4">
      <h4>Novo Serviço</h4>
    <%= render 'form', project: @project %>
    <%= link_to 'Voltar', projects_path %>
  </div>
  <div class="col s4"></div>
</div>
