<div class="row">
  <div class="col s1"></div>
  <div class="col s10">
      <h4>Novo Projeto</h4>
    <%= render 'form', project: @project %>
    <%= link_to 'Voltar', projects_path %>
  </div>
  <div class="col s1"></div>
</div>
